@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("../public/assets/images/Background.jpg");
  background-attachment: scroll;
  background-size: cover;
  background-position: center;
}
